In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objects as go

import os
os.chdir('/home/luisfernando/Git Code/Introduction-to-Data-Analysis/Lecture 2') # You must open the directory where the file is located before pening it before
df = pd.read_excel("adult.xlsx") # This function opens the data frame

In [2]:
df

,age,workclass,capital-gain,education,marital-status,relationship,sex,Hours-per-week,income
0,39,State-gov,77516,Bachelors,Never-married,Not-in-family,Male,40,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Husband,Male,13,<=50K
2,38,Private,215646,HS-grad,Divorced,Not-in-family,Male,40,<=50K
3,53,Private,234721,11th,Married-civ-spouse,Husband,Male,40,<=50K
4,28,Private,338409,Bachelors,Married-civ-spouse,Wife,Female,40,<=50K
...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,Married-civ-spouse,Wife,Female,38,<=50K
32557,40,Private,154374,HS-grad,Married-civ-spouse,Husband,Male,40,>50K
32558,58,Private,151910,HS-grad,Widowed,Unmarried,Female,40,<=50K
32559,22,Private,201490,HS-grad,Never-married,Own-child,Male,20,<=50K
32560,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Wife,Female,40,>50K

## What is a DataFrame?

A DataFrame is an object. The pandas library uses the DataFrame object to analyze data.

### Columns

The main way of interfacing with a dataFrame will be calling its columns. Pandas is heavily column based.

In [3]:
df.columns

Index(['age', 'workclass', 'capital-gain', 'education', 'marital-status',
       'relationship', 'sex', 'Hours-per-week', 'income'],
      dtype='object')

Single columns can be called with two methods:

In [4]:
df['age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [5]:
df.age

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [7]:
df['capital-gain']

0         77516
1         83311
2        215646
3        234721
4        338409
          ...
32556    257302
32557    154374
32558    151910
32559    201490
32560    287927
Name: capital-gain, Length: 32561, dtype: int64

### Rows

In [8]:
# Single selections using iloc and DataFrame
# Rows:
df.iloc[0] # first row of data frame 
# df.iloc[1] # second row of data frame 
# df.iloc[-1] # last row of data frame 
# Columns:
# df.iloc[:,0] # first column of data frame 
# df.iloc[:,1] # second column of data frame 
# df.iloc[:,-1] # last column of data frame

age                           39
workclass              State-gov
capital-gain               77516
education              Bachelors
marital-status     Never-married
relationship       Not-in-family
sex                         Male
Hours-per-week                40
income                     <=50K
Name: 0, dtype: object

### Datatypes

It is important to know what particular data you are working with. This prevents errors in you future work

In [9]:
df.dtypes

age                int64
workclass         object
capital-gain       int64
education         object
marital-status    object
relationship      object
sex               object
Hours-per-week     int64
income            object
dtype: object

### Index

In [10]:
df.index

RangeIndex(start=0, stop=32561, step=1)

### Some Basic Methods (Functions

In [11]:
df.age.min()

17

In [12]:
df.age.max()

90

In [13]:
df.age.mean()

38.58164675532078

In [14]:
df['capital-gain'].mean()

189778.36651208502

In [15]:
df['capital-gain'].max()

1484705

In [16]:
df['capital-gain'].sum()

6179373392

In [17]:
df.corr()

                     age  capital-gain  Hours-per-week
age             1.000000     -0.076646        0.068756
capital-gain   -0.076646      1.000000       -0.018768
Hours-per-week  0.068756     -0.018768        1.000000

In [18]:
df.corr().index

Index(['age', 'capital-gain', 'Hours-per-week'], dtype='object')

### Pivoting

For next Lecture :)