In [1]:
import pandas as pd 
import numpy as np
import datetime
import os 
os.chdir("/home/luisfernando/Git Code/Introduction-to-Data-Analysis/Lecture 3")
df = pd.read_excel("random_time_data.xlsx")
df

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
0,2019-03-07 00:00:00,560,3,0,0,0,Winter_Weekday,Off-Peak
1,2019-03-07 00:15:00,612,3,0,0,0,Winter_Weekday,Off-Peak
2,2019-03-07 00:30:00,758,3,0,0,0,Winter_Weekday,Off-Peak
3,2019-03-07 00:45:00,711,3,0,0,0,Winter_Weekday,Off-Peak
4,2019-03-07 01:00:00,107,3,0,0,0,Winter_Weekday,Off-Peak
...,...,...,...,...,...,...,...,...
34459,2020-02-29 22:45:00,221,5,1,0,0,Winter_Weekend,Off-Peak
34460,2020-02-29 23:00:00,1129,5,1,0,0,Winter_Weekend,Off-Peak
34461,2020-02-29 23:15:00,994,5,1,0,0,Winter_Weekend,Off-Peak
34462,2020-02-29 23:30:00,1154,5,1,0,0,Winter_Weekend,Off-Peak
34463,2020-02-29 23:45:00,1159,5,1,0,0,Winter_Weekend,Off-Peak

In [2]:
df.dtypes

Timestamp     datetime64[ns]
Demand                 int64
DayWeek                int64
Is_Weekend             int64
Is_Holiday             int64
is_summer              int64
fun                   object
Peak                  object
dtype: object

In [3]:
pd.Timestamp(year=2020, month=1, day=1, hour=0, minute=0, second=0)

Timestamp('2020-01-01 00:00:00')

In [4]:
pd.Timestamp(year=2020, month=1, day=1, hour=0, minute=0)

Timestamp('2020-01-01 00:00:00')

In [5]:
pd.Timestamp(year=2020, month=1, day=1, hour=0)

Timestamp('2020-01-01 00:00:00')

In [6]:
pd.Timestamp(year=2020, month=1, day=1)

Timestamp('2020-01-01 00:00:00')

In [7]:
pd.Timestamp(year=2018, month=3, day=4, hour=3, minute=56, second=14)

Timestamp('2018-03-04 03:56:14')

In [8]:
pd.Timestamp(year=2018, month=3, day=4, hour=3, minute=45)

Timestamp('2018-03-04 03:45:00')

In [9]:
df.Timestamp

0       2019-03-07 00:00:00
1       2019-03-07 00:15:00
2       2019-03-07 00:30:00
3       2019-03-07 00:45:00
4       2019-03-07 01:00:00
                ...
34459   2020-02-29 22:45:00
34460   2020-02-29 23:00:00
34461   2020-02-29 23:15:00
34462   2020-02-29 23:30:00
34463   2020-02-29 23:45:00
Name: Timestamp, Length: 34464, dtype: datetime64[ns]

In [10]:
df.Timestamp.dt.time

0        00:00:00
1        00:15:00
2        00:30:00
3        00:45:00
4        01:00:00
           ...
34459    22:45:00
34460    23:00:00
34461    23:15:00
34462    23:30:00
34463    23:45:00
Name: Timestamp, Length: 34464, dtype: object

In [11]:
df.Timestamp.dt.date

0        2019-03-07
1        2019-03-07
2        2019-03-07
3        2019-03-07
4        2019-03-07
            ...
34459    2020-02-29
34460    2020-02-29
34461    2020-02-29
34462    2020-02-29
34463    2020-02-29
Name: Timestamp, Length: 34464, dtype: object

In [12]:
df.Timestamp.between(pd.Timestamp(year=2020, month=1, day=1, hour=0, minute=0), pd.Timestamp(year=2020, month=2, day=1, hour=0, minute=0))

0        False
1        False
2        False
3        False
4        False
         ...
34459    False
34460    False
34461    False
34462    False
34463    False
Name: Timestamp, Length: 34464, dtype: bool

In [13]:
df[df.Timestamp.between(pd.Timestamp(year=2020, month=1, day=1, hour=0, minute=0), pd.Timestamp(year=2020, month=2, day=1, hour=0, minute=0))]

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
28704,2020-01-01 00:00:00,1333,2,0,1,0,Winter_Weekend,Off-Peak
28705,2020-01-01 00:15:00,199,2,0,1,0,Winter_Weekend,Off-Peak
28706,2020-01-01 00:30:00,578,2,0,1,0,Winter_Weekend,Off-Peak
28707,2020-01-01 00:45:00,1455,2,0,1,0,Winter_Weekend,Off-Peak
28708,2020-01-01 01:00:00,126,2,0,1,0,Winter_Weekend,Off-Peak
...,...,...,...,...,...,...,...,...
31676,2020-01-31 23:00:00,540,4,0,0,0,Winter_Weekday,Off-Peak
31677,2020-01-31 23:15:00,1303,4,0,0,0,Winter_Weekday,Off-Peak
31678,2020-01-31 23:30:00,320,4,0,0,0,Winter_Weekday,Off-Peak
31679,2020-01-31 23:45:00,1290,4,0,0,0,Winter_Weekday,Off-Peak
31680,2020-02-01 00:00:00,250,5,1,0,0,Winter_Weekend,Off-Peak

In [14]:
df[df.Timestamp.between(pd.Timestamp(year=2020, month=1, day=1, hour=0, minute=0), pd.Timestamp(year=2020, month=2, day=1, hour=0, minute=0),  inclusive = False)]

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
28705,2020-01-01 00:15:00,199,2,0,1,0,Winter_Weekend,Off-Peak
28706,2020-01-01 00:30:00,578,2,0,1,0,Winter_Weekend,Off-Peak
28707,2020-01-01 00:45:00,1455,2,0,1,0,Winter_Weekend,Off-Peak
28708,2020-01-01 01:00:00,126,2,0,1,0,Winter_Weekend,Off-Peak
28709,2020-01-01 01:15:00,124,2,0,1,0,Winter_Weekend,Off-Peak
...,...,...,...,...,...,...,...,...
31675,2020-01-31 22:45:00,700,4,0,0,0,Winter_Weekday,Off-Peak
31676,2020-01-31 23:00:00,540,4,0,0,0,Winter_Weekday,Off-Peak
31677,2020-01-31 23:15:00,1303,4,0,0,0,Winter_Weekday,Off-Peak
31678,2020-01-31 23:30:00,320,4,0,0,0,Winter_Weekday,Off-Peak
31679,2020-01-31 23:45:00,1290,4,0,0,0,Winter_Weekday,Off-Peak

In [15]:
january = df[df.Timestamp.between(pd.Timestamp(year=2020, month=1, day=1, hour=0, minute=0), pd.Timestamp(year=2020, month=2, day=1, hour=0, minute=0))]
january

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
28704,2020-01-01 00:00:00,1333,2,0,1,0,Winter_Weekend,Off-Peak
28705,2020-01-01 00:15:00,199,2,0,1,0,Winter_Weekend,Off-Peak
28706,2020-01-01 00:30:00,578,2,0,1,0,Winter_Weekend,Off-Peak
28707,2020-01-01 00:45:00,1455,2,0,1,0,Winter_Weekend,Off-Peak
28708,2020-01-01 01:00:00,126,2,0,1,0,Winter_Weekend,Off-Peak
...,...,...,...,...,...,...,...,...
31676,2020-01-31 23:00:00,540,4,0,0,0,Winter_Weekday,Off-Peak
31677,2020-01-31 23:15:00,1303,4,0,0,0,Winter_Weekday,Off-Peak
31678,2020-01-31 23:30:00,320,4,0,0,0,Winter_Weekday,Off-Peak
31679,2020-01-31 23:45:00,1290,4,0,0,0,Winter_Weekday,Off-Peak
31680,2020-02-01 00:00:00,250,5,1,0,0,Winter_Weekend,Off-Peak

In [16]:
january = january.reset_index(drop=True)
january

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
0,2020-01-01 00:00:00,1333,2,0,1,0,Winter_Weekend,Off-Peak
1,2020-01-01 00:15:00,199,2,0,1,0,Winter_Weekend,Off-Peak
2,2020-01-01 00:30:00,578,2,0,1,0,Winter_Weekend,Off-Peak
3,2020-01-01 00:45:00,1455,2,0,1,0,Winter_Weekend,Off-Peak
4,2020-01-01 01:00:00,126,2,0,1,0,Winter_Weekend,Off-Peak
...,...,...,...,...,...,...,...,...
2972,2020-01-31 23:00:00,540,4,0,0,0,Winter_Weekday,Off-Peak
2973,2020-01-31 23:15:00,1303,4,0,0,0,Winter_Weekday,Off-Peak
2974,2020-01-31 23:30:00,320,4,0,0,0,Winter_Weekday,Off-Peak
2975,2020-01-31 23:45:00,1290,4,0,0,0,Winter_Weekday,Off-Peak
2976,2020-02-01 00:00:00,250,5,1,0,0,Winter_Weekend,Off-Peak

In [17]:
january.Demand.max()

1499

In [18]:
df.Demand.max()

5051

In [19]:
january.Demand[df.Peak == "Mid-Peak"]

64       484
65      1394
66      1338
67       947
68      1365
        ...
2959     283
2960    1259
2961     177
2962     282
2963     980
Name: Demand, Length: 620, dtype: int64

In [20]:
january.Demand[df.Peak == "Mid-Peak"].max()

1494

In [21]:
billing = pd.read_excel("billing_month.xlsx")
billing

   billing_month
0     2019-03-15
1     2019-04-17
2     2019-05-16
3     2019-06-14
4     2019-07-18
5     2019-08-15
6     2019-09-16
7     2019-10-14
8     2019-11-18
9     2019-12-17
10    2020-01-16
11    2020-02-20

In [22]:
billing.dtypes

billing_month    datetime64[ns]
dtype: object

In [23]:
billing.billing_month

0    2019-03-15
1    2019-04-17
2    2019-05-16
3    2019-06-14
4    2019-07-18
5    2019-08-15
6    2019-09-16
7    2019-10-14
8    2019-11-18
9    2019-12-17
10   2020-01-16
11   2020-02-20
Name: billing_month, dtype: datetime64[ns]

In [24]:
billing.billing_month[0]

Timestamp('2019-03-15 00:00:00')

In [25]:
billing.billing_month[0] + pd.DateOffset(hours=12)

Timestamp('2019-03-15 12:00:00')

In [26]:
billMonth = billing.billing_month
offset = pd.DateOffset(minutes=15)
month = {}
monthLength = len(billMonth) - 1
for i in range (0,monthLength,1):
    end = billMonth[i + 1] - offset
    month[i] = df[df.Timestamp.between(billMonth[i], end)]
month

{0:                Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 768  2019-03-15 00:00:00     414        4           0           0          0
 769  2019-03-15 00:15:00     235        4           0           0          0
 770  2019-03-15 00:30:00    1191        4           0           0          0
 771  2019-03-15 00:45:00     453        4           0           0          0
 772  2019-03-15 01:00:00    1242        4           0           0          0
 ...                  ...     ...      ...         ...         ...        ...
 3835 2019-04-16 22:45:00    1321        1           0           0          0
 3836 2019-04-16 23:00:00     179        1           0           0          0
 3837 2019-04-16 23:15:00    1021        1           0           0          0
 3838 2019-04-16 23:30:00     734        1           0           0          0
 3839 2019-04-16 23:45:00     874        1           0           0          0

                  fun      Peak
 768   Winter_Weekday  Off-Peak
 769   Winter_Weekday  Off-Peak
 770   Winter_Weekday  Off-Peak
 771   Winter_Weekday  Off-Peak
 772   Winter_Weekday  Off-Peak
 ...              ...       ...
 3835  Winter_Weekday  Off-Peak
 3836  Winter_Weekday  Off-Peak
 3837  Winter_Weekday  Off-Peak
 3838  Winter_Weekday  Off-Peak
 3839  Winter_Weekday  Off-Peak

 [3072 rows x 8 columns],
 1:                Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 3840 2019-04-17 00:00:00    1264        2           0           0          0
 3841 2019-04-17 00:15:00    1449        2           0           0          0
 3842 2019-04-17 00:30:00     135        2           0           0          0
 3843 2019-04-17 00:45:00    1290        2           0           0          0
 3844 2019-04-17 01:00:00     313        2           0           0          0
 ...                  ...     ...      ...         ...         ...        ...
 6619 2019-05-15 22:45:00    1357        2           0           0          0
 6620 2019-05-15 23:00:00     625        2           0           0          0
 6621 2019-05-15 23:15:00     659        2           0           0          0
 6622 2019-05-15 23:30:00     433        2           0           0          0
 6623 2019-05-15 23:45:00    1105        2           0           0          0

                  fun      Peak
 3840  Winter_Weekday  Off-Peak
 3841  Winter_Weekday  Off-Peak
 3842  Winter_Weekday  Off-Peak
 3843  Winter_Weekday  Off-Peak
 3844  Winter_Weekday  Off-Peak
 ...              ...       ...
 6619  Winter_Weekday  Off-Peak
 6620  Winter_Weekday  Off-Peak
 6621  Winter_Weekday  Off-Peak
 6622  Winter_Weekday  Off-Peak
 6623  Winter_Weekday  Off-Peak

 [2784 rows x 8 columns],
 2:                Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 6624 2019-05-16 00:00:00     721        3           0           0          0
 6625 2019-05-16 00:15:00    1395        3           0           0          0
 6626 2019-05-16 00:30:00     891        3           0           0          0
 6627 2019-05-16 00:45:00     680        3           0           0          0
 6628 2019-05-16 01:00:00    1262        3           0           0          0
 ...                  ...     ...      ...         ...         ...        ...
 9403 2019-06-13 22:45:00     652        3           0           0          1
 9404 2019-06-13 23:00:00     689        3           0           0          1
 9405 2019-06-13 23:15:00     128        3           0           0          1
 9406 2019-06-13 23:30:00     272        3           0           0          1
 9407 2019-06-13 23:45:00     286        3           0           0          1

                  fun      Peak
 6624  Winter_Weekday  Off-Peak
 6625  Winter_Weekday  Off-Peak
 6626  Winter_Weekday  Off-Peak
 6627  Winter_Weekday  Off-Peak
 6628  Winter_Weekday  Off-Peak
 ...              ...       ...
 9403  Summer_Weekday  Off-Peak
 9404  Summer_Weekday  Off-Peak
 9405  Summer_Weekday  Off-Peak
 9406  Summer_Weekday  Off-Peak
 9407  Summer_Weekday  Off-Peak

 [2784 rows x 8 columns],
 3:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 9408  2019-06-14 00:00:00     532        4           0           0          1
 9409  2019-06-14 00:15:00     295        4           0           0          1
 9410  2019-06-14 00:30:00    1362        4           0           0          1
 9411  2019-06-14 00:45:00     882        4           0           0          1
 9412  2019-06-14 01:00:00    1299        4           0           0          1
 ...                   ...     ...      ...         ...         ...        ...
 12667 2019-07-17 22:45:00     212        2           0           0          1
 12668 2019-07-17 23:00:00    1488        2           0           0          1
 12669 2019-07-17 23:15:00     283        2           0           0          1
 12670 2019-07-17 23:30:00     471        2           0           0          1
 12671 2019-07-17 23:45:00     233        2           0           0          1

                   fun      Peak
 9408   Summer_Weekday  Off-Peak
 9409   Summer_Weekday  Off-Peak
 9410   Summer_Weekday  Off-Peak
 9411   Summer_Weekday  Off-Peak
 9412   Summer_Weekday  Off-Peak
 ...               ...       ...
 12667  Summer_Weekday  Off-Peak
 12668  Summer_Weekday  Off-Peak
 12669  Summer_Weekday  Off-Peak
 12670  Summer_Weekday  Off-Peak
 12671  Summer_Weekday  Off-Peak

 [3264 rows x 8 columns],
 4:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 12672 2019-07-18 00:00:00    1017        3           0           0          1
 12673 2019-07-18 00:15:00     356        3           0           0          1
 12674 2019-07-18 00:30:00     319        3           0           0          1
 12675 2019-07-18 00:45:00    1064        3           0           0          1
 12676 2019-07-18 01:00:00     774        3           0           0          1
 ...                   ...     ...      ...         ...         ...        ...
 15355 2019-08-14 22:45:00    1257        2           0           0          1
 15356 2019-08-14 23:00:00    1190        2           0           0          1
 15357 2019-08-14 23:15:00     174        2           0           0          1
 15358 2019-08-14 23:30:00     391        2           0           0          1
 15359 2019-08-14 23:45:00     322        2           0           0          1

                   fun      Peak
 12672  Summer_Weekday  Off-Peak
 12673  Summer_Weekday  Off-Peak
 12674  Summer_Weekday  Off-Peak
 12675  Summer_Weekday  Off-Peak
 12676  Summer_Weekday  Off-Peak
 ...               ...       ...
 15355  Summer_Weekday  Off-Peak
 15356  Summer_Weekday  Off-Peak
 15357  Summer_Weekday  Off-Peak
 15358  Summer_Weekday  Off-Peak
 15359  Summer_Weekday  Off-Peak

 [2688 rows x 8 columns],
 5:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 15360 2019-08-15 00:00:00     353        3           0           0          1
 15361 2019-08-15 00:15:00     378        3           0           0          1
 15362 2019-08-15 00:30:00    1481        3           0           0          1
 15363 2019-08-15 00:45:00     825        3           0           0          1
 15364 2019-08-15 01:00:00     806        3           0           0          1
 ...                   ...     ...      ...         ...         ...        ...
 18427 2019-09-15 22:45:00     695        6           1           0          1
 18428 2019-09-15 23:00:00    1175        6           1           0          1
 18429 2019-09-15 23:15:00     762        6           1           0          1
 18430 2019-09-15 23:30:00     875        6           1           0          1
 18431 2019-09-15 23:45:00    1392        6           1           0          1

                   fun      Peak
 15360  Summer_Weekday  Off-Peak
 15361  Summer_Weekday  Off-Peak
 15362  Summer_Weekday  Off-Peak
 15363  Summer_Weekday  Off-Peak
 15364  Summer_Weekday  Off-Peak
 ...               ...       ...
 18427  Summer_Weekend  Off-Peak
 18428  Summer_Weekend  Off-Peak
 18429  Summer_Weekend  Off-Peak
 18430  Summer_Weekend  Off-Peak
 18431  Summer_Weekend  Off-Peak

 [3072 rows x 8 columns],
 6:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 18432 2019-09-16 00:00:00     674        0           0           0          1
 18433 2019-09-16 00:15:00    1374        0           0           0          1
 18434 2019-09-16 00:30:00     753        0           0           0          1
 18435 2019-09-16 00:45:00     529        0           0           0          1
 18436 2019-09-16 01:00:00    1335        0           0           0          1
 ...                   ...     ...      ...         ...         ...        ...
 21115 2019-10-13 22:45:00     828        6           1           0          0
 21116 2019-10-13 23:00:00     151        6           1           0          0
 21117 2019-10-13 23:15:00    1439        6           1           0          0
 21118 2019-10-13 23:30:00     511        6           1           0          0
 21119 2019-10-13 23:45:00     667        6           1           0          0

                   fun      Peak
 18432  Summer_Weekday  Off-Peak
 18433  Summer_Weekday  Off-Peak
 18434  Summer_Weekday  Off-Peak
 18435  Summer_Weekday  Off-Peak
 18436  Summer_Weekday  Off-Peak
 ...               ...       ...
 21115  Winter_Weekend  Off-Peak
 21116  Winter_Weekend  Off-Peak
 21117  Winter_Weekend  Off-Peak
 21118  Winter_Weekend  Off-Peak
 21119  Winter_Weekend  Off-Peak

 [2688 rows x 8 columns],
 7:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 21120 2019-10-14 00:00:00     534        0           0           0          0
 21121 2019-10-14 00:15:00     954        0           0           0          0
 21122 2019-10-14 00:30:00     858        0           0           0          0
 21123 2019-10-14 00:45:00     362        0           0           0          0
 21124 2019-10-14 01:00:00     147        0           0           0          0
 ...                   ...     ...      ...         ...         ...        ...
 24475 2019-11-17 22:45:00     937        6           1           0          0
 24476 2019-11-17 23:00:00     484        6           1           0          0
 24477 2019-11-17 23:15:00    1157        6           1           0          0
 24478 2019-11-17 23:30:00     868        6           1           0          0
 24479 2019-11-17 23:45:00    1141        6           1           0          0

                   fun      Peak
 21120  Winter_Weekday  Off-Peak
 21121  Winter_Weekday  Off-Peak
 21122  Winter_Weekday  Off-Peak
 21123  Winter_Weekday  Off-Peak
 21124  Winter_Weekday  Off-Peak
 ...               ...       ...
 24475  Winter_Weekend  Off-Peak
 24476  Winter_Weekend  Off-Peak
 24477  Winter_Weekend  Off-Peak
 24478  Winter_Weekend  Off-Peak
 24479  Winter_Weekend  Off-Peak

 [3360 rows x 8 columns],
 8:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 24480 2019-11-18 00:00:00    1214        0           0           0          0
 24481 2019-11-18 00:15:00     134        0           0           0          0
 24482 2019-11-18 00:30:00     976        0           0           0          0
 24483 2019-11-18 00:45:00     807        0           0           0          0
 24484 2019-11-18 01:00:00     646        0           0           0          0
 ...                   ...     ...      ...         ...         ...        ...
 27259 2019-12-16 22:45:00     511        0           0           0          0
 27260 2019-12-16 23:00:00    1385        0           0           0          0
 27261 2019-12-16 23:15:00    1025        0           0           0          0
 27262 2019-12-16 23:30:00     280        0           0           0          0
 27263 2019-12-16 23:45:00     952        0           0           0          0

                   fun      Peak
 24480  Winter_Weekday  Off-Peak
 24481  Winter_Weekday  Off-Peak
 24482  Winter_Weekday  Off-Peak
 24483  Winter_Weekday  Off-Peak
 24484  Winter_Weekday  Off-Peak
 ...               ...       ...
 27259  Winter_Weekday  Off-Peak
 27260  Winter_Weekday  Off-Peak
 27261  Winter_Weekday  Off-Peak
 27262  Winter_Weekday  Off-Peak
 27263  Winter_Weekday  Off-Peak

 [2784 rows x 8 columns],
 9:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 27264 2019-12-17 00:00:00    1256        1           0           0          0
 27265 2019-12-17 00:15:00     884        1           0           0          0
 27266 2019-12-17 00:30:00     897        1           0           0          0
 27267 2019-12-17 00:45:00     436        1           0           0          0
 27268 2019-12-17 01:00:00    1456        1           0           0          0
 ...                   ...     ...      ...         ...         ...        ...
 30139 2020-01-15 22:45:00    1292        2           0           0          0
 30140 2020-01-15 23:00:00     270        2           0           0          0
 30141 2020-01-15 23:15:00     833        2           0           0          0
 30142 2020-01-15 23:30:00     417        2           0           0          0
 30143 2020-01-15 23:45:00    1000        2           0           0          0

                   fun      Peak
 27264  Winter_Weekday  Off-Peak
 27265  Winter_Weekday  Off-Peak
 27266  Winter_Weekday  Off-Peak
 27267  Winter_Weekday  Off-Peak
 27268  Winter_Weekday  Off-Peak
 ...               ...       ...
 30139  Winter_Weekday  Off-Peak
 30140  Winter_Weekday  Off-Peak
 30141  Winter_Weekday  Off-Peak
 30142  Winter_Weekday  Off-Peak
 30143  Winter_Weekday  Off-Peak

 [2880 rows x 8 columns],
 10:                 Timestamp  Demand  DayWeek  Is_Weekend  Is_Holiday  is_summer  \
 30144 2020-01-16 00:00:00     598        3           0           0          0
 30145 2020-01-16 00:15:00     393        3           0           0          0
 30146 2020-01-16 00:30:00     433        3           0           0          0
 30147 2020-01-16 00:45:00    1467        3           0           0          0
 30148 2020-01-16 01:00:00     406        3           0           0          0
 ...                   ...     ...      ...         ...         ...        ...
 33499 2020-02-19 22:45:00     255        2           0           0          0
 33500 2020-02-19 23:00:00     622        2           0           0          0
 33501 2020-02-19 23:15:00     247        2           0           0          0
 33502 2020-02-19 23:30:00    1059        2           0           0          0
 33503 2020-02-19 23:45:00     163        2           0           0          0

                   fun      Peak
 30144  Winter_Weekday  Off-Peak
 30145  Winter_Weekday  Off-Peak
 30146  Winter_Weekday  Off-Peak
 30147  Winter_Weekday  Off-Peak
 30148  Winter_Weekday  Off-Peak
 ...               ...       ...
 33499  Winter_Weekday  Off-Peak
 33500  Winter_Weekday  Off-Peak
 33501  Winter_Weekday  Off-Peak
 33502  Winter_Weekday  Off-Peak
 33503  Winter_Weekday  Off-Peak

 [3360 rows x 8 columns]}

In [27]:
month[0]

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
768,2019-03-15 00:00:00,414,4,0,0,0,Winter_Weekday,Off-Peak
769,2019-03-15 00:15:00,235,4,0,0,0,Winter_Weekday,Off-Peak
770,2019-03-15 00:30:00,1191,4,0,0,0,Winter_Weekday,Off-Peak
771,2019-03-15 00:45:00,453,4,0,0,0,Winter_Weekday,Off-Peak
772,2019-03-15 01:00:00,1242,4,0,0,0,Winter_Weekday,Off-Peak
...,...,...,...,...,...,...,...,...
3835,2019-04-16 22:45:00,1321,1,0,0,0,Winter_Weekday,Off-Peak
3836,2019-04-16 23:00:00,179,1,0,0,0,Winter_Weekday,Off-Peak
3837,2019-04-16 23:15:00,1021,1,0,0,0,Winter_Weekday,Off-Peak
3838,2019-04-16 23:30:00,734,1,0,0,0,Winter_Weekday,Off-Peak
3839,2019-04-16 23:45:00,874,1,0,0,0,Winter_Weekday,Off-Peak

In [28]:
np.nan

nan

In [29]:
example = pd.DataFrame(np.zeros([10, 4])*np.nan, columns = ["One", "Two", "Three", "Four"])
example

   One  Two  Three  Four
0  NaN  NaN    NaN   NaN
1  NaN  NaN    NaN   NaN
2  NaN  NaN    NaN   NaN
3  NaN  NaN    NaN   NaN
4  NaN  NaN    NaN   NaN
5  NaN  NaN    NaN   NaN
6  NaN  NaN    NaN   NaN
7  NaN  NaN    NaN   NaN
8  NaN  NaN    NaN   NaN
9  NaN  NaN    NaN   NaN

In [30]:
def energy(df, month):
    df = df.reset_index(drop=True)

    if len(month) != 0:
        monthLength = len(month) 
    else:
         monthLength = 0
            
    monthTitle = {}
    for i in range(0, monthLength, 1): # iterates through every billing month df
        monthTitle[i] = month[i].Timestamp.min().strftime('%b_%d_%Y') + ' to ' + month[i].Timestamp.max().strftime('%b_%d_%Y')

    columns = ['Billing Month', 'kiloWattHour Total', 'kiloWattHour Super Off-Peak', 'kiloWattHour Off-Peak', 'kiloWattHour Mid-Peak', 'kiloWattHour On-Peak']
    col_len = int(len(columns))
    kiloWattHour = pd.DataFrame(np.zeros([monthLength, col_len])*np.nan, columns = columns)
    for i in range(0, monthLength, 1):
        month[i] = month[i].reset_index(drop=True)
        kiloWattHour['Billing Month'][i] = monthTitle[i]
        kiloWattHour['kiloWattHour Total'][i] = month[i].Demand.sum() / 4
        kiloWattHour['kiloWattHour Super Off-Peak'][i] = month[i].Demand[month[i].Peak == 'Super Off-Peak'].sum() / 4
        kiloWattHour['kiloWattHour Off-Peak'][i] = month[i].Demand[month[i].Peak == 'Off-Peak'].sum() / 4
        kiloWattHour['kiloWattHour Mid-Peak'][i] = month[i].Demand[month[i].Peak == 'Mid-Peak'].sum() / 4
        kiloWattHour['kiloWattHour On-Peak'][i] = month[i].Demand[month[i].Peak == 'On-Peak'].sum() / 4

    kiloWattHour.loc[len(kiloWattHour)] = np.nan
    kiloWattHour = kiloWattHour.shift()
    kiloWattHour['Billing Month'][0] = 'Entire Interval'
    kiloWattHour['kiloWattHour Total'][0] = df.Demand.sum() / 4
    kiloWattHour['kiloWattHour Super Off-Peak'][0] = df.Demand[df.Peak == 'Super Off-Peak'].sum() / 4
    kiloWattHour['kiloWattHour Off-Peak'][0] = df.Demand[df.Peak == 'Off-Peak'].sum() / 4
    kiloWattHour['kiloWattHour Mid-Peak'][0] = df.Demand[df.Peak == 'Mid-Peak'].sum() / 4
    kiloWattHour['kiloWattHour On-Peak'][0] = df.Demand[df.Peak == 'On-Peak'].sum() / 4

    return kiloWattHour

In [31]:
kiloWattHour = energy(df,month)
kiloWattHour

/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Billing Month,kiloWattHour Total,kiloWattHour Super Off-Peak,kiloWattHour Off-Peak,kiloWattHour Mid-Peak,kiloWattHour On-Peak
0,Entire Interval,6901227.75,1518047.00,3947831.25,1106351.25,328998.25
1,Mar_15_2019 to Apr_16_2019,617235.00,208458.75,283729.00,125047.25,0.00
2,Apr_17_2019 to May_15_2019,553717.00,182300.00,252092.00,119325.00,0.00
3,May_16_2019 to Jun_13_2019,549000.25,98830.75,335172.50,79047.50,35949.50
4,Jun_14_2019 to Jul_17_2019,648262.00,0.00,516024.50,43389.75,88847.75
5,Jul_18_2019 to Aug_14_2019,534712.00,0.00,423416.50,30468.50,80827.00
6,Aug_15_2019 to Sep_15_2019,610643.50,0.00,488546.50,42328.75,79768.25
7,Sep_16_2019 to Oct_13_2019,545999.00,85108.75,345860.50,71424.00,43605.75
8,Oct_14_2019 to Nov_17_2019,678015.50,226765.00,306373.00,144877.50,0.00
9,Nov_18_2019 to Dec_16_2019,560029.50,188117.75,255578.75,116333.00,0.00
10,Dec_17_2019 to Jan_15_2020,586465.50,194427.75,271362.25,120675.50,0.00
11,Jan_16_2020 to Feb_19_2020,672277.50,221307.00,308388.25,142582.25,0.00

In [32]:
def max_peak(df, month):
    df = df.reset_index(drop=True)

    if len(month) != 0:
        monthLength = len(month) 
    else:
         monthLength = 0

    monthTitle = {}
    for i in range(0, monthLength, 1): # iterates through every billing month df
        monthTitle[i] = month[i].Timestamp.min().strftime('%b_%d_%Y') + ' to ' + month[i].Timestamp.max().strftime('%b_%d_%Y')

    columns = ['Billing Month', 'max_peak Total', 'max_peak Super Off-Peak', 'max_peak Off-Peak', 'max_peak Mid-Peak', 'max_peak On-Peak']
    col_len = int(len(columns))
    max_peak = pd.DataFrame(np.zeros([monthLength, col_len])*np.nan, columns = columns)
    for i in range(0, monthLength, 1):
        month[i] = month[i].reset_index(drop=True)
        max_peak['Billing Month'][i] = monthTitle[i]
        max_peak['max_peak Total'][i] = month[i].Demand.max()
        max_peak['max_peak Super Off-Peak'][i] = month[i].Demand[month[i].Peak == 'Super Off-Peak'].max()
        max_peak['max_peak Off-Peak'][i] = month[i].Demand[month[i].Peak == 'Off-Peak'].max()
        max_peak['max_peak Mid-Peak'][i] = month[i].Demand[month[i].Peak == 'Mid-Peak'].max()
        max_peak['max_peak On-Peak'][i] = month[i].Demand[month[i].Peak == 'On-Peak'].max()

    max_peak.loc[len(max_peak)] = np.nan
    max_peak = max_peak.shift()
    max_peak['Billing Month'][0] = 'Entire Interval'
    max_peak['max_peak Total'][0] = df.Demand.max()
    max_peak['max_peak Super Off-Peak'][0] = df.Demand[df.Peak == 'Super Off-Peak'].max()
    max_peak['max_peak Off-Peak'][0] = df.Demand[df.Peak == 'Off-Peak'].max()
    max_peak['max_peak Mid-Peak'][0] = df.Demand[df.Peak == 'Mid-Peak'].max()
    max_peak['max_peak On-Peak'][0] = df.Demand[df.Peak == 'On-Peak'].max()

    return max_peak

In [33]:
max_peak = max_peak(df, month)
max_peak

/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Billing Month,max_peak Total,max_peak Super Off-Peak,max_peak Off-Peak,max_peak Mid-Peak,max_peak On-Peak
0,Entire Interval,5051.0,2563.0,5051.0,2132.0,4521.0
1,Mar_15_2019 to Apr_16_2019,1499.0,1499.0,1498.0,1498.0,NaN
2,Apr_17_2019 to May_15_2019,1499.0,1496.0,1499.0,1495.0,NaN
3,May_16_2019 to Jun_13_2019,1499.0,1497.0,1498.0,1499.0,1497.0
4,Jun_14_2019 to Jul_17_2019,1499.0,NaN,1499.0,1485.0,1493.0
5,Jul_18_2019 to Aug_14_2019,1499.0,NaN,1499.0,1476.0,1490.0
6,Aug_15_2019 to Sep_15_2019,5051.0,NaN,5051.0,1493.0,4521.0
7,Sep_16_2019 to Oct_13_2019,3056.0,1495.0,3056.0,1499.0,1499.0
8,Oct_14_2019 to Nov_17_2019,2132.0,1497.0,1499.0,2132.0,NaN
9,Nov_18_2019 to Dec_16_2019,2563.0,2563.0,1499.0,1492.0,NaN
10,Dec_17_2019 to Jan_15_2020,1499.0,1499.0,1499.0,1497.0,NaN
11,Jan_16_2020 to Feb_19_2020,1499.0,1499.0,1499.0,1496.0,NaN

In [34]:
def energy_percentage(df, month):
    df = df.reset_index(drop=True)

    if len(month) != 0:
        monthLength = len(month) 
    else:
         monthLength = 0
         
    monthTitle = {}
    for i in range(0, monthLength, 1): # iterates through every billing month df
        monthTitle[i] = month[i].Timestamp.min().strftime('%b_%d_%Y') + ' to ' + month[i].Timestamp.max().strftime('%b_%d_%Y')

    columns = ['Billing Month', 'Energy_Percentage Total', 'Energy_Percentage Super Off-Peak', 'Energy_Percentage Off-Peak', 'Energy_Percentage Mid-Peak', 'Energy_Percentage On-Peak']
    col_len = int(len(columns))
    Energy_Percentage = pd.DataFrame(np.zeros([monthLength, col_len])*np.nan, columns = columns)
    for i in range(0, monthLength, 1):
        month[i] = month[i].reset_index(drop=True)
        Energy_Percentage['Billing Month'][i] = monthTitle[i]
        month_sum = month[i].Demand.sum()
        Energy_Percentage['Energy_Percentage Super Off-Peak'][i] = month[i].Demand[month[i].Peak == 'Super Off-Peak'].sum() / month_sum
        Energy_Percentage['Energy_Percentage Off-Peak'][i] = month[i].Demand[month[i].Peak == 'Off-Peak'].sum() / month_sum
        Energy_Percentage['Energy_Percentage Mid-Peak'][i] = month[i].Demand[month[i].Peak == 'Mid-Peak'].sum() / month_sum
        Energy_Percentage['Energy_Percentage On-Peak'][i] = month[i].Demand[month[i].Peak == 'On-Peak'].sum() / month_sum
        Energy_Percentage['Energy_Percentage Total'][i] = Energy_Percentage['Energy_Percentage Super Off-Peak'][i] + Energy_Percentage['Energy_Percentage Off-Peak'][i] + Energy_Percentage['Energy_Percentage Mid-Peak'][i] + Energy_Percentage['Energy_Percentage On-Peak'][i]

    Energy_Percentage.loc[len(Energy_Percentage)] = np.nan
    Energy_Percentage = Energy_Percentage.shift()
    Energy_Percentage['Billing Month'][0] = 'Entire Interval'
    df_sum = df.Demand.sum()
    Energy_Percentage['Energy_Percentage Super Off-Peak'][0] = df.Demand[df.Peak == 'Super Off-Peak'].sum() / df_sum
    Energy_Percentage['Energy_Percentage Off-Peak'][0] = df.Demand[df.Peak == 'Off-Peak'].sum() / df_sum
    Energy_Percentage['Energy_Percentage Mid-Peak'][0] = df.Demand[df.Peak == 'Mid-Peak'].sum() / df_sum
    Energy_Percentage['Energy_Percentage On-Peak'][0] = df.Demand[df.Peak == 'On-Peak'].sum() / df_sum
    Energy_Percentage['Energy_Percentage Total'][0] = Energy_Percentage['Energy_Percentage Super Off-Peak'][0] + Energy_Percentage['Energy_Percentage Off-Peak'][0] + Energy_Percentage['Energy_Percentage Mid-Peak'][0] + Energy_Percentage['Energy_Percentage On-Peak'][0]

    return Energy_Percentage

In [35]:
kW_percentage = energy_percentage(df, month)
kW_percentage

/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/luisfernando/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Billing Month,Energy_Percentage Total,Energy_Percentage Super Off-Peak,Energy_Percentage Off-Peak,Energy_Percentage Mid-Peak,Energy_Percentage On-Peak
0,Entire Interval,1.0,0.219968,0.572048,0.160312,0.047672
1,Mar_15_2019 to Apr_16_2019,1.0,0.337730,0.459677,0.202593,0.000000
2,Apr_17_2019 to May_15_2019,1.0,0.329230,0.455272,0.215498,0.000000
3,May_16_2019 to Jun_13_2019,1.0,0.180019,0.610514,0.143984,0.065482
4,Jun_14_2019 to Jul_17_2019,1.0,0.000000,0.796012,0.066932,0.137055
5,Jul_18_2019 to Aug_14_2019,1.0,0.000000,0.791859,0.056981,0.151160
6,Aug_15_2019 to Sep_15_2019,1.0,0.000000,0.800052,0.069318,0.130630
7,Sep_16_2019 to Oct_13_2019,1.0,0.155877,0.633445,0.130813,0.079864
8,Oct_14_2019 to Nov_17_2019,1.0,0.334454,0.451867,0.213679,0.000000
9,Nov_18_2019 to Dec_16_2019,1.0,0.335907,0.456367,0.207727,0.000000
10,Dec_17_2019 to Jan_15_2020,1.0,0.331525,0.462708,0.205767,0.000000
11,Jan_16_2020 to Feb_19_2020,1.0,0.329190,0.458722,0.212088,0.000000

In [ ]:
monthTitle = {}
for j in range(0, monthLength, 1): # iterates through every billing month df
    monthTitle[j] = month[j].Date.min().strftime('%B %d, %Y') + ' to ' + month[j].Date.max().strftime('%B %d, %Y')

columns = ['Billing Month', 'Load Factor Total', 'Load Factor Super Off-Peak', 'Load Factor Off-Peak', 'Load Factor Mid-Peak', 'Load Factor On-Peak']
col_len = int(len(columns))
loadFactor = pd.DataFrame(np.zeros([monthLength, col_len])*np.nan, columns = columns)
for i in range(0, monthLength, 1):
    loadFactor['Billing Month'][i] = monthTitle[i]
    loadFactor['Load Factor Total'][i] = month[i].value.mean() / month[i].value.max()
    loadFactor['Load Factor Super Off-Peak'][i] = month[i].value[month[i].Peak == 'Super Off-Peak'].mean() / month[i].value[month[i].Peak == 'Super Off-Peak'].max()
    loadFactor['Load Factor Off-Peak'][i] = month[i].value[month[i].Peak == 'Off-Peak'].mean() / month[i].value[month[i].Peak == 'Off-Peak'].max()
    loadFactor['Load Factor Mid-Peak'][i] = month[i].value[month[i].Peak == 'Mid-Peak'].mean() / month[i].value[month[i].Peak == 'Mid-Peak'].max()
    loadFactor['Load Factor On-Peak'][i] = month[i].value[month[i].Peak == 'On-Peak'].mean() / month[i].value[month[i].Peak == 'On-Peak'].max()

loadFactor.loc[len(loadFactor)] = np.nan
loadFactor = loadFactor.shift()
loadFactor['Billing Month'][0] = 'Entire Interval'
loadFactor['Load Factor Total'][0] = df.value.mean() / df.value.max()
loadFactor['Load Factor Super Off-Peak'][0] = df.value[df.Peak == 'Super Off-Peak'].mean() / df.value[df.Peak == 'Super Off-Peak'].max()
loadFactor['Load Factor Off-Peak'][0] = df.value[df.Peak == 'Off-Peak'].mean() / df.value[df.Peak == 'Off-Peak'].max()
loadFactor['Load Factor Mid-Peak'][0] = df.value[df.Peak == 'Mid-Peak'].mean() / df.value[df.Peak == 'Mid-Peak'].max()
loadFactor['Load Factor On-Peak'][0] = df.value[df.Peak == 'On-Peak'].mean() / df.value[df.Peak == 'On-Peak'].max()

## Title Generation

In [38]:
site_name = "Ugly Factory"
begin_date = "01/05/2020"
end_date = "02/07/2020"
string = site_name + " From: " + begin_date + " to " + end_date
print(string)

Ugly Factory From: 01/05/2020 to 02/07/2020

In [48]:
company_name = "Fun Town Water District"
site_name = "Ugly Factory"
account_number = 4224251997
begin_date = "January 05, 2020"
end_date = "February 07, 2020"
string = company_name + "\nSite Name: " + site_name + " || Account Number: " + str(account_number) + " || From: " + begin_date + " to " + end_date
print(string)

Fun Town Water District
Site Name: Ugly Factory || Account Number: 4224251997 || From: January 05, 2020 to February 07, 2020

In [42]:
df.Timestamp[0]

Timestamp('2019-03-07 00:00:00')

In [43]:
df.Timestamp[0].strftime('%b %d %y %r')

'Mar 07 19 12:00:00 AM'

Month Uppercase

In [47]:
df.Timestamp[0].strftime('%B')

'March'

Month Lowercase

In [49]:
df.Timestamp[0].strftime('%b')

'Mar'

Day Uppercase

In [50]:
df.Timestamp[0].strftime('%D')

'03/07/19'

Day Lowercase

In [51]:
df.Timestamp[0].strftime('%d')

'07'

Year Uppercase

In [53]:
df.Timestamp[0].strftime('%Y')

'2019'

Year Lowercase

In [54]:
df.Timestamp[0].strftime('%y')

'19'

Time Uppercase

In [55]:
df.Timestamp[0].strftime('%R')

'00:00'

Time Lowercase

In [56]:
df.Timestamp[0].strftime('%r')

'12:00:00 AM'

Day of the Week Uppercase

In [58]:
df.Timestamp[0].strftime('%A')

'Thursday'

Day of the Week Lowercase

In [59]:
df.Timestamp[0].strftime('%a')

'Thu'

In [61]:
df.Timestamp[0].strftime('%B %d %Y %r')

'March 07 2019 12:00:00 AM'

In [62]:
df.Timestamp[0].strftime('%B %d, %Y %r')

'March 07, 2019 12:00:00 AM'

In [63]:
df.Timestamp[0].strftime('%B %d, %Y at %r')

'March 07, 2019 at 12:00:00 AM'

In [64]:
df.Timestamp[0].strftime('%B %d, %Y')

'March 07, 2019'

In [65]:
df.Timestamp[0].strftime('%b_%d_%Y')

'Mar_07_2019'

In [66]:
company_name = "Fun Town Water District"
site_name = "Ugly Factory"
account_number = 4224251997
string = company_name + "\nSite Name: " + site_name + " || Account Number: " + str(account_number) + " || From: " +  df.Timestamp[0].strftime('%B %d, %Y') + " to " + df.Timestamp[2881].strftime('%B %d, %Y') 
print(string)

Fun Town Water District
Site Name: Ugly Factory || Account Number: 4224251997 || From: March 07, 2019 to April 07, 2019

In [67]:
df.Timestamp.min()

Timestamp('2019-03-07 00:00:00')

In [68]:
df.Timestamp.max()

Timestamp('2020-02-29 23:45:00')

In [69]:
df.Timestamp.min().strftime('%B %d, %Y')

'March 07, 2019'

In [70]:
df.Timestamp.max().strftime('%B %d, %Y')

'February 29, 2020'

In [73]:
company_name = "Fun Town Water District"
site_name = "Ugly Factory"
plot_type = "15 Minute Data"
account_number = 4224251997
string = company_name + "\n" + site_name + ' ' + plot_type +  "\nAccount Number: " + str(account_number) + " || From: " +  df.Timestamp.min().strftime('%B %d, %Y') + " to " + df.Timestamp.max().strftime('%B %d, %Y') 
print(string)

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: March 07, 2019 to February 29, 2020

In [75]:
month[0]

,Timestamp,Demand,DayWeek,Is_Weekend,Is_Holiday,is_summer,fun,Peak
0,2019-03-15 00:00:00,414,4,0,0,0,Winter_Weekday,Off-Peak
1,2019-03-15 00:15:00,235,4,0,0,0,Winter_Weekday,Off-Peak
2,2019-03-15 00:30:00,1191,4,0,0,0,Winter_Weekday,Off-Peak
3,2019-03-15 00:45:00,453,4,0,0,0,Winter_Weekday,Off-Peak
4,2019-03-15 01:00:00,1242,4,0,0,0,Winter_Weekday,Off-Peak
...,...,...,...,...,...,...,...,...
3067,2019-04-16 22:45:00,1321,1,0,0,0,Winter_Weekday,Off-Peak
3068,2019-04-16 23:00:00,179,1,0,0,0,Winter_Weekday,Off-Peak
3069,2019-04-16 23:15:00,1021,1,0,0,0,Winter_Weekday,Off-Peak
3070,2019-04-16 23:30:00,734,1,0,0,0,Winter_Weekday,Off-Peak
3071,2019-04-16 23:45:00,874,1,0,0,0,Winter_Weekday,Off-Peak

In [76]:
company_name = "Fun Town Water District"
site_name = "Ugly Factory"
plot_type = "15 Minute Data"
account_number = 4224251997
string = company_name + "\n" + site_name + ' ' + plot_type +  "\nAccount Number: " + str(account_number) + " || From: " +  month[0].Timestamp.min().strftime('%B %d, %Y') + " to " + month[0].Timestamp.max().strftime('%B %d, %Y') 
print(string)

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: March 15, 2019 to April 16, 2019

In [77]:
company_name = "Fun Town Water District"
site_name = "Ugly Factory"
plot_type = "15 Minute Data"
account_number = 4224251997
month_title = {}
for i in range (0,len(month)):
    month_title[i] = company_name + "\n" + site_name + ' ' + plot_type +  "\nAccount Number: " + str(account_number) + " || From: " +  month[i].Timestamp.min().strftime('%B %d, %Y') + " to " + month[i].Timestamp.max().strftime('%B %d, %Y')

In [78]:
month_title

{0: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: March 15, 2019 to April 16, 2019',
 1: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: April 17, 2019 to May 15, 2019',
 2: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: May 16, 2019 to June 13, 2019',
 3: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: June 14, 2019 to July 17, 2019',
 4: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: July 18, 2019 to August 14, 2019',
 5: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: August 15, 2019 to September 15, 2019',
 6: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: September 16, 2019 to October 13, 2019',
 7: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: October 14, 2019 to November 17, 2019',
 8: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: November 18, 2019 to December 16, 2019',
 9: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: December 17, 2019 to January 15, 2020',
 10: 'Fun Town Water District\nUgly Factory 15 Minute Data\nAccount Number: 4224251997 || From: January 16, 2020 to February 19, 2020'}

In [80]:
for i in range (0,len(month)):
    print(month_title[i] + '\n')

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: March 15, 2019 to April 16, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: April 17, 2019 to May 15, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: May 16, 2019 to June 13, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: June 14, 2019 to July 17, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: July 18, 2019 to August 14, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: August 15, 2019 to September 15, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: September 16, 2019 to October 13, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: October 14, 2019 to November 17, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: November 18, 2019 to December 16, 2019

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: December 17, 2019 to January 15, 2020

Fun Town Water District
Ugly Factory 15 Minute Data
Account Number: 4224251997 || From: January 16, 2020 to February 19, 2020

In [81]:
company_name = "Fun Town Water District"
site_name = "Ugly Factory"
plot_type = "15 Minute Data"
account_number = 4224251997
month_title_filename = {}
for i in range (0,len(month)):
    month_title_filename[i] =  site_name + '_' + plot_type + '_' + str(account_number) + '_' +  month[i].Timestamp.min().strftime('%b_%d_%y') + "_to_" + month[i].Timestamp.max().strftime('%b_%d_%Y')

In [82]:
month_title_filename

{0: 'Ugly Factory_15 Minute Data_4224251997_Mar_15_19_to_Apr_16_2019',
 1: 'Ugly Factory_15 Minute Data_4224251997_Apr_17_19_to_May_15_2019',
 2: 'Ugly Factory_15 Minute Data_4224251997_May_16_19_to_Jun_13_2019',
 3: 'Ugly Factory_15 Minute Data_4224251997_Jun_14_19_to_Jul_17_2019',
 4: 'Ugly Factory_15 Minute Data_4224251997_Jul_18_19_to_Aug_14_2019',
 5: 'Ugly Factory_15 Minute Data_4224251997_Aug_15_19_to_Sep_15_2019',
 6: 'Ugly Factory_15 Minute Data_4224251997_Sep_16_19_to_Oct_13_2019',
 7: 'Ugly Factory_15 Minute Data_4224251997_Oct_14_19_to_Nov_17_2019',
 8: 'Ugly Factory_15 Minute Data_4224251997_Nov_18_19_to_Dec_16_2019',
 9: 'Ugly Factory_15 Minute Data_4224251997_Dec_17_19_to_Jan_15_2020',
 10: 'Ugly Factory_15 Minute Data_4224251997_Jan_16_20_to_Feb_19_2020'}